/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap' as bs with (
    /* Overriding Bootstrap variables */
    $primary: rgb(0, 0, 0),
    $body-bg: rgb(255, 255, 255),
    $enable-shadows: true,
    $prefix: "mo-"
);

@use 'ngx-toastr/toastr';
@use 'leaflet/dist/leaflet';
@use '@geoapify/leaflet-address-search-plugin/dist/L.Control.GeoapifyAddressSearch.min';

*,
*::before,
*::after {
    box-sizing: border-box;
}